<div class="layui-form" lay-filter="layuiadmin-form-security" style="padding: 20px 30px 0 0;">
    <script type="text/html" template>
        <input type="hidden" name="id" value="{{ d.params.id || '' }}"
               placeholder="" autocomplete="off" class="layui-input">
    </script>

    <script type="text/html" template/>
    <div class="layui-form-item">

        <label class="layui-form-label">urlPattern</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" name="urlPattern" value="{{ d.params.urlPattern || '' }}"
                       lay-verify="required" placeholder="请输入接口url"
                       autocomplete="off" class="layui-input" maxlength="30">
            </script>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">具体描述</label>

        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" name="description" value="{{ d.params.description || '' }}"
                       lay-verify="required" placeholder="请输入接口描述"
                       autocomplete="off" class="layui-input" maxlength="30">
            </script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="orderId" value="{{ d.params.orderId || '' }}"
                       lay-verify="number" placeholder="请输入接口排序序号"
                       autocomplete="off" class="layui-input" maxlength="5">
            </script>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-user-security-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
            , form = layui.form;

    });
</script>
