<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body" pad15>
                <div class="layui-form"
                     id="weekly_course_form_select_params"
                     lay-filter="weekly_course_form_select_params">

                    <script type="text/html" template lay-done="weekly_course_form_lay_done_function(d)"/>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input id="weekly_course_biz_type" type="text" readonly
                                           value="{{ d.params.bizType || '' }} "
                                           autocomplete="off"
                                           class="layui-input">
                                    <input id="weekly_course_biz_id" type="text" readonly
                                           value="{{ d.params.bizId || '' }} "
                                           autocomplete="off"
                                           class="layui-input">

                                </script>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-block">
                                学校的课程表，重点关注上课；
                                分组的课程表，重点关注不上课；
                                教师的课程表，重点关注不上课；
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body">

                    <table id="school-class-range-weekly-form-table" lay-filter="school-class-range-weekly-form-table">

                        <script type="text/html" id="weekly-courser-one-checkbox-id">
                            {{#  if(d.one == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="one">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="one">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-two-checkbox-id">
                            {{#  if(d.two == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="two">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="two">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-three-checkbox-id">
                            {{#  if(d.three == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="three">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="three">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-four-checkbox-id">
                            {{#  if(d.four == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="four">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="four">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-five-checkbox-id">
                            {{#  if(d.five == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="five">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="five">不上课</button>
                            {{#  } }}
                        </script>

                        <script type="text/html" id="weekly-courser-six-checkbox-id">
                            {{#  if(d.six == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="six">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="six">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-seven-checkbox-id">
                            {{#  if(d.seven == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="seven">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="seven">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-eight-checkbox-id">
                            {{#  if(d.eight == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="eight">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="eight">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-nine-checkbox-id">
                            {{#  if(d.nine == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="nine">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="nine">不上课</button>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="weekly-courser-ten-checkbox-id">
                            {{#  if(d.ten == '1'){ }}
                            <button class="layui-btn layui-btn-sm" lay-event="ten">上课</button>
                            {{#  } else { }}
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="ten">不上课</button>
                            {{#  } }}
                        </script>
                    </table>
                </div>


                <div style="" id="tableUpdateCourseWeeklyCourseId">
                    <button class="layui-btn layuiadmin-btn-role" data-type="tableUpdateCourseWeeklyCourseId">
                        <i class="layui-icon"/>更新课程表
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    layui.use('table', layui.factory('table')).use(['table', 'admin'], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , setter = layui.setter
            , form = layui.form
            , admin = layui.admin
            , table = layui.table
        ;
        //监听锁定操作
        table.on('tool(school-class-range-weekly-form-table)', function (obj) {
            console.log(obj)
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            let value = obj.data[layEvent];


            console.info('value', value);
            console.info('value == true ', value == true);
            console.info('value == false ', value == false);

            if (value == true) {
                if (layEvent == 'one') {
                    obj.update({'one': false})
                } else if (layEvent == 'two') {
                    obj.update({'two': false})
                } else if (layEvent == 'three') {
                    obj.update({'three': false})
                } else if (layEvent == 'four') {
                    obj.update({'four': false})
                } else if (layEvent == 'five') {
                    obj.update({'five': false})
                } else if (layEvent == 'six') {
                    obj.update({'six': false})
                } else if (layEvent == 'seven') {
                    obj.update({'seven': false})
                } else if (layEvent == 'eight') {
                    obj.update({'eight': false})
                } else if (layEvent == 'nine') {
                    obj.update({'nine': false})
                } else if (layEvent == 'ten') {
                    obj.update({'ten': false})
                }

            } else if (value == false) {
                if (layEvent == 'one') {
                    obj.update({'one': true})
                } else if (layEvent == 'two') {
                    obj.update({'two': true})
                } else if (layEvent == 'three') {
                    obj.update({'three': true})
                } else if (layEvent == 'four') {
                    obj.update({'four': true})
                } else if (layEvent == 'five') {
                    obj.update({'five': true})
                } else if (layEvent == 'six') {
                    obj.update({'six': true})
                } else if (layEvent == 'seven') {
                    obj.update({'seven': true})
                } else if (layEvent == 'eight') {
                    obj.update({'eight': true})
                } else if (layEvent == 'nine') {
                    obj.update({'nine': true})
                } else if (layEvent == 'ten') {
                    obj.update({'ten': true})
                }
            }

        });

        active = {
            // 更新课程表
            tableUpdateCourseWeeklyCourseId: function () { //获取选中数据
                let tableData = table.cache["school-class-range-weekly-form-table"];
                console.log('table.cache["school-class-range-weekly-form-table"]', tableData);

                admin.req({
                        url: '/weeklyCourse/updateDTOList',
                        data: {data: JSON.stringify(tableData)},
                        done: function (res) {
                            table.render(null, 'school-class-range-weekly-form-table'); //渲染该模板下的动态表单
                            layer.msg('更新课程表成功')
                        }
                    }
                    , 'post'
                );
            }
        };

        $('#tableUpdateCourseWeeklyCourseId .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });


    console.log('weeklycourseform.html init.js');

    weekly_course_form_lay_done_function = function (oneTableData) {
        console.log('weekly_course_form_lay_done_function data:', oneTableData.params);
        let bizType = oneTableData.params.bizType;
        let bizId = oneTableData.params.bizId;

        layui.use(['table', 'admin'], function () {
            let $ = layui.$,
                admin = layui.admin,
                table = layui.table;

            let schoolClassWeeklyTable = table.render({
                elem: '#school-class-range-weekly-form-table'
                // ,url: './json/useradmin/role.json' //模拟接口
                , url: '/weeklyCourse/getAllByBizTypeAndBizId?bizType=' + bizType + '&bizId=' + bizId
                , toolbar: true // 开启导出
                , title: '课程的排课规则' // 导出的文件名
                , loading: true // 显示加载动画
                , cols: [
                    [
                        {field: 'name', title: '', align: 'center'},
                        {field: 'one', title: '上午第一节课', align: 'center', templet: '#weekly-courser-one-checkbox-id'},
                        {field: 'two', title: '上午第二节课', align: 'center', templet: '#weekly-courser-two-checkbox-id'},
                        {field: 'three', title: '上午第三节课', align: 'center', templet: '#weekly-courser-three-checkbox-id'},
                        {field: 'four', title: '上午第四节课', align: 'center', templet: '#weekly-courser-four-checkbox-id'},
                        {field: 'five', title: '下午第一节课', align: 'center', templet: '#weekly-courser-five-checkbox-id'},
                        {field: 'six', title: '下午第二节课', align: 'center', templet: '#weekly-courser-six-checkbox-id'},
                        {field: 'seven', title: '下午第三节课', align: 'center', templet: '#weekly-courser-seven-checkbox-id'}
                    ]
                ]

                , text: '对不起，加载出现异常！'
            });


        });
    }


</script>